<div id="theme-toggle"><i class="fas fa-adjust" onclick="adminDarkTheme.Toggle()"></i></div>
<script asp-exclude-from-bundle="true" src="~/Plugins/Widgets.AdminDarkTheme/Scripts/AdminDarkTheme.js" asp-location="Head"></script>
<link rel="stylesheet" href="@Url.Content($"/Plugins/Widgets.AdminDarkTheme/Content/AdminDark.css?v={Guid.NewGuid()}")" />